/* :root {
  background-color: var(--color-bg);
  font-family: "IBM";

}
.dark,
body {
  --font-color: #fff;
  --color-primary: #f0b90b;
  --color-bg: #181a20;
  --secondary-bg-gray: #202630;
  --light-gray: #c0c0c0;
}
.light,
body {
  --font-color: #1f1f1f;
  --color-primary: #f0b90b;
  --color-bg: #fff;
  --secondary-bg-gray: #f6f6f6;
  --light-gray: #c0c0c0;
} */